@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--color-highlight: #0868ac;
	--color-primary: #ea7038;
}

body {
	margin: 0;
	font-family: Poppins, sans-serif;
	font-size: 16px;
}

.container {
	width: 1000px;
	margin: auto;
}

main {
	margin: 3rem 0;
}

/* ------------------------ HEADER CSS ---------------------- */
header {
	background-color: #ea7038;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
}

nav ul li {
	list-style: none;
	font-size: 24px;
	padding-left: 30px;
}

nav ul li:first-of-type {
	padding-left: 0;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.img_logo img {
	height: 90px;
}

.dropdown {
	display: none;
}

/*search*/

header input[type='text'] {
	border-radius: 90px 0 0 90px;
	font-size: 16px;
	height: 30px;
	border: none;
	padding: 0;
	width: 0px;
	border-right: none;
	transform: translateY(-2px);
}

header input[type='text']:focus {
	outline: none !important;
}

header .search-icon {
	color: var(--color-primary);
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 90px;
	transform: translateX(-6.5px) translateY(-1.2px);
	font-size: 16px;
	text-align: center;
	line-height: 30px;
}

header .search-icon-active {
	border-radius: 0 90px 90px 0;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
	background: var(--color-highlight) !important;
}

.ui-autocomplete .ui-menu-item:first-of-type .ui-menu-item-wrapper.ui-state-active {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ui-autocomplete .ui-menu-item:last-of-type .ui-menu-item-wrapper.ui-state-active {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ui-autocomplete .ui-menu-item-wrapper {
	width: 180px;
	padding-left: 15px !important;
}

ul.ui-autocomplete {
	border: #ea7038 1px solid !important;
	border-radius: 10px;
	width: 210px !important;
}

/* ------------------------ FOOTER CSS ---------------------- */
footer {
	background-color: #3e4756;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social_icons a {
	width: 20%;
	height: 100px;
}

.nuttige_links {
	display: flex;
}

.nuttige_links a img {
	width: 20%;
	height: 100px;
}

/*------------------TABS-----------------------------*/
.ui-widget-header {
	background: none !important;
	border: none !important;
}

.ui-tabs-tab {
	background-color: #c4d1e5 !important;
	width: 33%;
	border-radius: 0;
}

.ui-tabs .ui-tabs-nav li {
	margin: 0 !important;
	border: none !important;
	height: 50px;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 53% 80%, 50% 80%, 47% 80%, 0 80%);

	transition: 175ms linear;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	background-color: #ea7038 !important;
}

.ui-tabs-tab a {
	width: 100%;
	text-align: center;
	padding: 10px 0 !important;
	font-weight: 600;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background-color: #ea7038 !important;
	border: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	clip-path: polygon(0 0, 100% 0, 100% 80%, 53% 80%, 50% 100%, 47% 80%, 0 80%);
}

.ui-widget {
	font-family: Poppins, sans-serif !important;
	font-size: 16px;
	border: none !important;
}

#tabs h2 ~ p:first-of-type {
	display: block;
	margin-bottom: 50px;
}

/*------------------Contact pagina-----------------------------*/
.grid-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-info h1 {
	text-decoration: underline;
	font-size: 2rem;
}

.contact-info p {
	font-size: 1.2rem;
}

form {
	background: #3e4756;
	border-radius: 50px;
	margin-top: 4rem;
	padding: 4rem 0;
	color: white;
	display: grid;
	justify-content: center;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 0;
	margin-bottom: 1rem;
}

.form-grid input,
textarea {
	border-radius: 7px;
	border: none;
	padding: 7px 10px;
}

#verzenden {
	margin: 2rem 15rem 0;
	padding: 1rem 0;
	border-radius: 50px;
	border: none;
	background-color: var(--color-primary);
	color: white;
}
