@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-highlight: #0868ac;
  --color-primary: #ea7038;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
}

main {
  margin: 3rem 0;
}
/* --------------- LOADED BACKGROUND FROM JASON CSS --------*/
.interactiveBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(30, 29, 29);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.interactiveBackground .row {
  position: relative;
  top: -50%;
  left: -20%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 40px;
  transform: rotate(-30deg);
}

.interactiveBackground .row i {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

.interactiveBackground .row i:hover {
  transition: 0s;
  color: var(--color-primary);
  text-shadow: 0 0 120px var(--color-primary);
}

.interactiveBackground .row:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}

.interactiveBackground .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ------------------------ HEADER CSS ---------------------- */
header {
  background-color: var(--color-primary);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

nav .main_nav > li {
  list-style: none;
  font-size: 24px;
  padding-left: 30px;
  z-index: 6;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.img_logo img {
  height: 90px;
}

/* ----------- dropDown ------------ */
.jqueryDropdownList li {
  list-style: none;
  padding-top: 5px;
  align-items: flex-start;
}

.jqueryDropdownList {
  display: none;
  flex-direction: column;
  background-color: #ea7038;
  position: absolute;
  z-index: 5;
  top: 0;
  margin-top: 60px;
  /* margin-left: 125px; */
  padding-top: 30px;
  padding-left: 0;
  color: white;
}

.jqueryDropdownList a {
  display: block;
}

.jqueryDropdownList a:hover {
  background: #3e4756;
}

.arrowIcon {
  width: 30px;
  height: 30px;
}

/* JQuery slider */

.jquerySliderContainer {
  padding-bottom: 3rem 0;
}

.jquerySliderContainer div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.jquerySliderContainer img {
  width: 98%;
  height: 400px;
}

.jquerySliderContainer .default {
  background: var(--color-primary);
}

.textAnimation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.textAnimation li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  font-weight: 300;
  font-size: 5em;
  color: var(--color-highlight);
  opacity: 1;
  transition: all 2.5s ease;
}

.textAnimation li:last-child {
  margin-right: 0;
}

.textAnimation .hidden {
  opacity: 0;
}

.textAnimation .hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200);
}
.textAnimation .hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100);
}
.textAnimation .hidden li:nth-child(3) {
  transform: translateX(-150) translateY(-80);
}
.textAnimation .hidden li:nth-child(4) {
  transform: translateX(10) translateY(-200);
}
.textAnimation .hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200);
}
.textAnimation .hidden li:nth-child(6) {
  transform: translateX(20px) translateY(-20);
}
.textAnimation .hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200);
}
.textAnimation .hidden li:nth-child(8) {
  transform: translateX(-200px) translateY(-200);
}
.textAnimation .hidden li:nth-child(9) {
  transform: translateX(20px) translateY(100);
}
.textAnimation .hidden li:nth-child(10) {
  transform: translateX(-150px) translateY(-80);
}
.textAnimation .hidden li:nth-child(11) {
  transform: translateX(10px) translateY(-200);
}
.textAnimation .hidden li:nth-child(12) {
  transform: translateX(-300px) translateY(200);
}
.textAnimation .hidden li:nth-child(13) {
  transform: translateX(20px) translateY(-20);
}
.textAnimation .hidden li:nth-child(14) {
  transform: translateX(30px) translateY(200);
}
.textAnimation .hidden li:nth-child(15) {
  transform: translateX(-200px) translateY(-200);
}
.textAnimation .hidden li:nth-child(16) {
  transform: translateX(20px) translateY(100);
}

/*search*/
header .searchbar {
  height: 30px;
  display: flex;
  align-items: center;
}

header input[type="text"] {
  border-radius: 90px 0 0 90px;
  font-size: 16px;
  height: 30px;
  border: none;
  padding: 0;
  width: 0px;
  border-right: none;
}

header input[type="text"]:focus {
  outline: none !important;
}

/*header .search-icon {
  color: var(--color-primary);
  background-color: white;
  width: 30px;
  border-radius: 90px;
  transform: translateX(-7px);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}*/

header .searchbar a {
  color: var(--color-primary);
  background-color: white;
  width: 30px;
  border-radius: 90px;
  transform: translateX(-7px);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

header .searchbar a.search-icon-active {
  border-radius: 0 90px 90px 0;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: var(--color-highlight) !important;
}

.ui-autocomplete
  .ui-menu-item:first-of-type
  .ui-menu-item-wrapper.ui-state-active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ui-autocomplete
  .ui-menu-item:last-of-type
  .ui-menu-item-wrapper.ui-state-active {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ui-autocomplete .ui-menu-item-wrapper {
  width: 180px;
  padding-left: 15px !important;
}

ul.ui-autocomplete {
  border: #ea7038 1px solid !important;
  border-radius: 10px;
  width: 210px !important;
}

/* ------------------------ FOOTER CSS ---------------------- */
footer {
  background-color: #3e4756;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.socialIcons a {
  padding: 10px 0;
  margin-left: 30px;
}

.fab {
  font-size: 3rem;
  text-decoration: none;
  color: white;
}

.nuttigeLinks {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nuttigeLinks a {
  padding: 20px;
}

.nuttigeLinks a img {
  width: 100%;
  height: 25px;
}

.footerContactInfo ul {
  padding: 0;
}

.footerContactInfo li {
  list-style: none;
  color: white;
}

.stayDown {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*------------------TABS-----------------------------*/
.ui-widget-header {
  background: none !important;
  border: none !important;
}

.ui-tabs-tab {
  background-color: #c4d1e5 !important;
  width: 33%;
  border-radius: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0 !important;
  border: none !important;
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 53% 80%, 50% 80%, 47% 80%, 0 80%);

  transition: 175ms linear;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  background-color: #ea7038 !important;
}

.ui-tabs-tab a {
  width: 100%;
  text-align: center;
  padding: 10px 0 !important;
  font-weight: 600;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #ea7038 !important;
  border: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 53% 80%, 50% 100%, 47% 80%, 0 80%);
}

.ui-widget {
  font-family: Poppins, sans-serif !important;
  font-size: 16px;
  border: none !important;
}

#tabs h2 ~ p:first-of-type {
  display: block;
  margin-bottom: 50px;
}

/*------------------Contact pagina-----------------------------*/
.grid-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-info h1 {
  text-decoration: underline;
  font-size: 2rem;
}

.contact-info p {
  font-size: 1.2rem;
}

form {
  background: #3e4756;
  border-radius: 50px;
  margin-top: 4rem;
  padding: 4rem 0;
  color: white;
  display: grid;
  justify-content: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 0;
  margin-bottom: 1rem;
}

#tabs h2 ~ p:first-of-type {
  display: block;
  margin-bottom: 50px;
}

/*------------------ANIMATE-----------------------------*/

#animatie + div.ui-accordion-content-active {
  background-color: #161616;
  margin: 0;
  padding: 0;
  height: 580px;
  color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#animatie + div.ui-accordion-content-active * {
  z-index: 1;
  width: 50%;
  text-align: center;
}

#animatie + div.ui-accordion-content-active h1 {
  margin-top: 150px;
}

#animatie + div.ui-accordion-content-active img {
  opacity: 0;
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 0;
}

#animatie + div div.twinkle {
  width: 50px;
  height: 50px;
  background: white;
  clip-path: polygon(
    0 0,
    45% 38%,
    100% 0,
    57% 50%,
    100% 100%,
    44% 67%,
    0 100%,
    36% 53%
  );
  z-index: 3;
  position: absolute;
  display: block;
  -webkit-transform: rotate(0deg);
  opacity: 0;
}

/*------------------------------*/

.form-grid input,
textarea {
  border-radius: 7px;
  border: none;
  padding: 7px 10px;
}

#verzenden {
  margin: 2rem 15rem 0;
  padding: 1rem 0;
  border-radius: 50px;
  border: none;
  background-color: var(--color-primary);
  color: white;
}

/* Form validation style */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #b94a48;

  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/* Form validation style einde */

/* Slide animatie */
#wrapper {
  width: 100%;
  overflow: hidden;
}

#mask {
  width: 500%;
}

.item {
  width: 20%;
  height: 100%;
  float: left;
}

.content {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* Einde slide animatie */
